xsd/hint_request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HintRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LastFetchTime" type="xs:dateTime" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="timestamp" type="xs:dateTime" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>